/* Avatar flip (front/back images) */

.avatar-flip {
  perspective: 900px;
}

.avatar-flip-inner {
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.avatar-flip-face {
  grid-area: 1 / 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.avatar-flip-back {
  transform: rotateY(180deg);
}

.avatar-flip:hover .avatar-flip-inner,
.avatar-flip:focus-within .avatar-flip-inner {
  transform: rotateY(180deg);
}
