@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
    background-color: #fff;
    padding:50px;
    font: 17px/1.6 "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#242424;
    font-weight:400;
  }