---
---

@import "minimal-light-no-dark-mode";

section h2#about-me,
section h2#news,
section h2#publications,
section h2#academic-service,
section h2#teaching-experience,
section h2#awards--honours {
	box-shadow: inset 0 -1px 0 0 #e8e8e8;
}
